= image_tag 'Rectangle.png', class: 'top-image'
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'form-text'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form'
    .field
      = f.label :password, class: 'form-text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'form'
    
    .actions
      = f.submit "Log in", class: 'submit-btn'