.container 
  .post
    - @posts.each do |post|
      .post#post-show{data:{post_id: post.id}}
        .timeline-user-icon
          = image_tag 'f_f_object_105_s512_f_object_105_1bg.png'
        .post-user
          = post.user.username
        .post-time
          %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
        - post.pictures.each do |picture|
          .post-picture
            = image_tag picture
        .post-content
          = post.content
        
        .icon-container 
          .like
          - if user_signed_in?
            - if current_user.hasliked?(post)
              .article_heart.active-heart{class: "#{post.id}", id: "#{post.id}"}
                = image_tag 'heart-active.svg'
              .article_heart.hidden.inactive-heart{class: "#{post.id}", id: "#{post.id}"}
                = image_tag 'heart.svg'
            - else
              .article_heart.inactive-heart{class: "#{post.id}", id: "#{post.id}"}
                = image_tag 'heart.svg'
              .article_heart.hidden.active-heart{class: "#{post.id}", id: "#{post.id}"}
                = image_tag 'heart-active.svg'
          .comments
            = link_to image_tag('吹き出しのアイコン15.png'), post_path(id: post.id), class: 'comment-button'
          .share
            = link_to image_tag('シェア.png'), "https://twitter.com/share?url=#{request.url}",title: 'Twitter', target: '_blank', class: 'share-button'
          .delete
            = link_to image_tag('ゴミ箱.png'), post_path(id: post.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか'}, class: 'delete-button'
            



  = link_to image_tag('プラスマーク.png'), new_post_path, class: 'new_post_icon'
  %br
  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }

  = javascript_pack_tag 'post'