.container 
  .post
    - @posts.each do |post|
      .post
        .timeline-user-icon
          = image_tag 'f_f_object_105_s512_f_object_105_1bg.png'
        .post-user
          = post.user.username
        .post-time
          %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
        - post.pictures.each do |picture|
          .post-picture
            = image_tag picture
        .post-content
          = post.content
        .twitter
        %a.twitter-share-button{"data-show-count" => "false", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw"} Tweet
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}



  = link_to 'POST', new_post_path