.container 
  .post
    - @posts.each do |post|
      .post#post-show{data: {post_id: post.id}}
        .timeline-user-icon
          = image_tag 'f_f_object_105_s512_f_object_105_1bg.png'
        .post-user
          = post.user.username
        .post-time
          %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
        - post.pictures.each do |picture|
          .post-picture
            = image_tag picture
        .post-content
          = post.content
        - if user_signed_in?
          .article_heart.hidden.active-heart
            = image_tag 'heart-active.svg'
          .article_heart.hidden.inactive-heart
            = image_tag 'heart.svg'
        .twitter
        %a.twitter-share-button{"data-show-count" => "false", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw"} Tweet
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
        .comments
          = link_to 'コメントする', post_comments_path(post_id: post.id)
        .delete
          = link_to '削除する', post_path(id: post.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか'}
        



  = link_to 'POST', new_post_path

  = javascript_pack_tag 'post'